
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/APP.js"></script>
</head>
<body>  
    @*<div ng-controller="schoolController">
        <div ng-controller="studentController">
           in student: {{message}}
        </div>
        <div ng-controller="teacherController">
         in teacher :  {{message}}
        </div>
        {{message}}
    </div>*@ 
    <div ng-controller="schoolController">
       <input type="number" ng-model="num"/> 
        <br/>
        text box la gi:{{num}}
        <button ng-click="checkNumber()">Check number</button>
        {{message}}
    </div> 
    
</body>
</html>
